.navbar-main {
    display: flex;
    width: 100%;
    margin: 0;
    z-index: 100;
}

.navbar-main > .nav-section {
    padding: 1rem 1rem;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    color: white;
}

#wecca-logo {
    height: 99px;
    width: 148px;
    padding: 0;
}

.wecca-logo-image {
    height: 96px;
    width: 128px;
    background-image: url('../../assets/WECCA-purple.png');
    background-size: 128px 96px;
    margin: 0px 10px;
}

#nav-main {
    flex-grow: 1;
}

.nav-subsection {
    margin: 0 30px;
    margin-top: 20px;
    height: fit-content;
    font-size: 19px;
}

.navbar {
    height: 30px;
    padding: 20px 0;
    text-align: center;
    margin: 5px auto 15px auto;
    box-sizing: border-box;
    border: 1px solid red;
    vertical-align: middle;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.navbar>li {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

li > a {
    padding: 5px 10px;
}

.link {
    text-decoration: none;
    padding: 5px 10px;
    width: 100%;
}

.active {
    background-color: rgba(67, 32, 148, 0.4);
    border-radius: 10px;
}

*:visited {
    color: inherit;
}

.link:hover {
    color: rgb(67, 32, 148);
}

.centre {
    text-align: center;
}