.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    -webkit-font-smoothing: subpixel-antialiased;
}

.modal {
    width: 800px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 5px;
    padding: 20px 50px;
    text-align: left;
}

.modal-head {
    margin: 0;
    padding: 10px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    color: black;
}

.modal-button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: inherit;
    border: 1px solid rgb(6, 95, 142);
    color: rgb(6, 95, 142);
    display: inline-block;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: rgb(79, 160, 203);
    color: rgb(79, 160, 203);
}

.buttons-container {
    text-align: center;
    margin-top: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    backdrop-filter: blue(5px);
}